services:
  dcbot:
    build:
      context: .
      dockerfile: discord/Dockerfile
      args:
        production: #"Production if given any value"
    environment:
      - APP_ID=114514
      - APP_CLIENT_SECRET=<secret>
      - BOT_TOKEN=<token>
      - MONGO_ADDRESS=mongodb
      - MONGO_ADMIN=admin
      - MONGO_PWD=<password>
      - DEBUG_SERVER_ID=1919810
      - LOAD_EXT=roll,vote
      - EXT_ROLL_GAME=dice,choose
    networks:
      - mongo
networks:
  mongo:
    external: true
    name: mongo